body {
	padding-top: 51px;
	background-image: url("../img/arches.png");
}

.centered {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FCFCFC; 
}

.jumbotron {
	background-color: #99CCFF;
}

.row {
	padding-left: 50px;
	padding-right: 50px;
}